* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #ffffff;
}

/* шапка с навигационной панелью */

.nav-head {
  width: 100%;
  height: 135px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-head h1 {
  font-family: Playfair Display, serif;
  font-weight: 600;
  font-size: 86px;
  line-height: 103px;
}
.navbar-top {
  width: 100%;
  height: 28px;
  display: flex;
  justify-content: right;
  margin-right: 40px;
}
.navbar-top ul {
  margin-right: 60px;
  display: flex;
  list-style: none;
}
.navbar-top li {
  padding-left: 55px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.navbar-top a {
  text-decoration: none;
  color: #000000;
}

/* Банер с логотипом компании */

.hero-section {
  width: 100%;
  height: 630px;
  background-image: url(img/BG.jpg);
  background-color: bisque;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}
.studio {
  width: 690px;
  height: 360px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.studio h2 {
  font-family: Playfair Display, serif;
  font-weight: 500;
  font-size: 86px;
  line-height: 103px;
  text-align: center;
  padding-bottom: 15px;
}
.studio p {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
  text-align: center;
}

/* биография Katya Milss */

.biography {
  width: 100%;
  height: 840px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  gap: 20px;
}
.left-card-biog {
  padding-right: 10px;
  width: 571px;
  height: 840px;
}
.biography img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.biog-paragraph {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  align-self: flex-start;
}

.right-card-biog {
  width: 466px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
}
.header-cart {
  width: 466px;
  height: 230px;
}

.right-card-biog h2 {
  font-family: Playfair Display, serif;
  font-weight: 500;
  font-size: 86px;
  line-height: 114.64px;
}

.proff-container {
  width: 466px;
  height: 42px;
}

.right-card-biog pre {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
}
.quote {
  width: 468px;
  height: 148px;
}
.quote q {
  font-family: Bitter, serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 31.2px;
}

/* Дезайнеры */

.designers {
  width: 1440px;
  height: 677px;
  display: flex;
  margin-bottom: 100px;
}
.designers p {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}
.foto-jess {
  width: 572px;
  height: 538px;
}
.foto-kameron {
  width: 336px;
  height: 440px;
}
.foto-Louisse {
  width: 331px;
  height: 440px;
}
.designers pre {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
}
.designers span {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

/* отзывы */

.testimonials {
  display: grid;
  grid-template-columns: 98px 451px 28px 451px;
  grid-template-rows: 760px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 1400px;
  height: 760px;
  margin-bottom: 200px;
  gap: 30px;
}
.keghan {
  width: 451px;
  height: 760px;
}
.website-box {
  display: flex;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

.website-box p {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
}
.website-box a {
  font-style: normal;
  color: #000000;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  margin-bottom: 60px;
}

.title-box {
  align-self: start;
}

.title-box h3 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  text-align: center;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}
.second-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.quote-box {
  width: 221px;
  height: 304px;
}
.second-part p {
  font-family: Bitter, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38.4px;
  text-align: center;
}

/* достоинства */

.strong-points {
  width: 1440px;
  height: 613px;
  margin: 20px;
}
.strong-points p {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}
.strong-points h3 {
  font-family: Playfair Display;
  font-weight: 500;
  font-size: 86px;
  line-height: 86px;
}
.strong-points li {
  list-style: none;
  font-family: Bitter, serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 40.8px;
}
.bottom-panel {
  width: 1440px;
  height: 168px;
  background: #0d0d0d;
  margin: 400px;
}
.bottom-panel a {
  font-style: normal;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
}
.bottom-panel p {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
  text-align: center;
  color: #ffffff;
}
.bottom-panel span {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 21.09px;
  text-align: center;
  color: #ffffff;
}
.copyright {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  text-align: right;
  color: #ffffff;
}
