* {
  padding: 0;
  margin: 0;
}
body {
  width: 1440px;
  height: 5574px;
  background: #ffffff;
}

/* шапка с навигационной панелью */

.nav-head {
  width: 1397px;
  height: 135px;
  margin: 20px;
}
.nav-head h1 {
  font-family: Playfair Display, serif;
  font-weight: 600;
  font-size: 86px;
  line-height: 103px;
}
.navbar-top {
  width: 1195px;
  height: 28px;
}
.navbar-top ul {
  list-style: none;
  display: flex;
}
.navbar-top li {
  padding-left: 55px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.navbar-top a {
  text-decoration: none;
  color: #000000;
}

/* Банер с логотипом компании */

.Hero-section {
  width: 1440px;
  height: 630px;
  background-image: url(img/BG.jpg);
}
.studio {
  width: 690px;
  height: 360px;
  background-color: #ffffff;
}
.studio h2 {
  font-family: Playfair Display, serif;
  font-weight: 500;
  font-size: 86px;
  line-height: 103px;
  text-align: center;
}
.studio p {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
  text-align: center;
}

/* биография Katya Milss */

.Biography {
  width: 1165px;
  height: 840px;
  margin: 20px;
}
.Biography img {
  width: 571px;
  height: 840px;
  float: left;
}
.Biography p {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  text-align: right;
}
.Biography h2 {
  font-family: Playfair Display, serif;
  font-weight: 500;
  font-size: 86px;
  line-height: 114.64px;
}
.Biography pre {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
}
.Biography q {
  font-family: Bitter, serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 31.2px;
}

/* Дезайнеры */

.Designers {
  width: 1440px;
  height: 677px;
  display: flex;
  margin: 20px;
}
.Designers p {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}
.foto-jess {
  width: 572px;
  height: 538px;
}
.foto-kameron {
  width: 336px;
  height: 440px;
}
.foto-Louisse {
  width: 331px;
  height: 440px;
}
.Designers pre {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
}
.Designers span {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

/* отзывы */

.Testimonials {
  width: 1400px;
  height: 760px;
  margin: 20px;
}
.keghan {
  width: 451px;
  height: 760px;
}
.Testimonials p {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
}
.Testimonials a {
  font-style: normal;
  color: #000000;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}
.Testimonials h3 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  text-align: right;
}
.second-part p {
  font-family: Bitter, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38.4px;
  text-align: center;
}

/* достоинства */

.Strong-points {
  width: 1440px;
  height: 613px;
  margin: 20px;
}
.Strong-points p {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}
.Strong-points h3 {
  font-family: Playfair Display;
  font-weight: 500;
  font-size: 86px;
  line-height: 86px;
}
.Strong-points li {
  list-style: none;
  font-family: Bitter, serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 40.8px;
}
.bottom-panel {
  width: 1440px;
  height: 168px;
  background: #0d0d0d;
  margin: 400px;
}
.bottom-panel a {
  font-style: normal;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
}
.bottom-panel p {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
  text-align: center;
  color: #ffffff;
}
.bottom-panel span {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 21.09px;
  text-align: center;
  color: #ffffff;
}
.copyright {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  text-align: right;
  color: #ffffff;
}
